@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//variables css
$light-color: #F8F8F8;
$dark-color: #151515;
$grey-color: #7A797B;



body {
    font-family: 'Montserrat', sans-serif;
}
