@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
//variables css
$light-color: #F8F8F8;
$dark-color: #151515;
$grey-color: #7A797B;
$CTA-color: #3B4FDF;



body {
    background-color: $light-color;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    overflow-x: hidden;

    #menuBurger {
        display: none;
        @media screen and (max-width: 600px) {
            transform: translateX(100%);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            top: 0;
            right: 0;
            height: 100vh;
            width: 250px;
            padding: 20px;
            background-color: $dark-color;
            color: $light-color;
            transition: transform 0.5s ease-in-out;
        }
        div {
            margin-top: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            a {
                text-decoration: none;
                color: $light-color;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 20px 0;
            }
        }
    }
    #menuBurger.active {
        transform: translateX(0);
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .log {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 15px 25px;
                color: $dark-color;
                border-radius: 10px;
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
            a:nth-child(2) {
                color: $light-color;
                background-color: $CTA-color;
            }
            a:nth-child(1):hover {
                //à modifier l'effet est chelou
                background-color: $CTA-color;
                color: $light-color;
            }
            a:nth-child(2):hover {
                background-color: rgb(26, 44, 174);
            }
            img {
                display: none;
                @media screen and (max-width: 600px) {
                    display: block;
                }
            }
        }
    }
    main {
        .hero {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            height: 80vh;
            .heroLeft {
                width: 50%;
                @media screen and (max-width: 600px) {
                    width: 100%;

                }
                div:nth-child(1) {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 500;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                div:nth-child(2) {
                    max-width: 500px;
                    margin: 30px 0;
                    h1 {
                        font-size: 2.5rem;
                        font-weight: 800;
                        padding-bottom: 20px;
                    }
                    p {
                        color: $grey-color;
                        max-width: 300px;
                    }
                }
                a {
                    text-decoration: none;
                    padding: 15px 25px;
                    border-radius: 10px;
                    border: none;
                    background-color: $CTA-color;
                    color: $light-color;
                    font-weight: 500;
                    font-size: 1.2rem;
                    cursor: pointer;
                    margin-top: 40px;
                }
                a:hover {
                    background-color: rgb(26, 44, 174);
                }
            }
            .heroRight {
                width: 50%;
                @media screen and (max-width: 600px) {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 600px;
                    object-fit: cover;
                }
            }
        }

        .HIW {
            margin: 70px 0;
            .HIW-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                text-align: center;

                h2 {
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                p {
                    max-width: 500px;
                    color: $grey-color;
                }
            }
            .HIW-cardsWrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-evenly;
                margin-top: 50px;
                .HIW-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    width: 280px;
                    text-align: center;
                    padding: 20px;

                    p {
                        color: $grey-color;
                    }
                }
            }
        }

        #subscribeSection{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70vh;
            margin: 15vh 0;

            h2{
                font-size: 2rem;
                font-weight: 700;
                padding-bottom: 20px;
                color: black;
            }

            span{
                color: $grey-color;
                padding-bottom: 20px;
            }

            > div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #F8F8F8;
                width: 80%;

                @media screen and (max-width: 600px) {
                    width: 100%;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    width: 100%;

                    > div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 30px;

                        @media screen and (max-width: 600px) {
                            gap: 16px;
                        }

                        .formNoms, .formCoords, .formAdresse{
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            width: 80%;
                            gap: 4%;

                            @media screen and (max-width: 600px) {
                                flex-direction: column;
                                gap: 16px;
                            }
                        }

                        .formCoords{
                            input:nth-child(1){
                                width: 160%;

                                @media screen and (max-width: 600px) {
                                    width: 100%;
                                }
                            }
                        }

                        .formAdresse{
                            input:nth-child(1){
                                width: 25%;

                                @media screen and (max-width: 600px) {
                                    width: 100%;
                                }
                            }
                        }

                        input{
                            width: 80%;
                            padding: 12px 24px;
                            border-radius: 10px;
                            border: none;
                            background-color: #F8F8F8;
                            font-weight: 500;
                            font-size: 1.2rem;
                            cursor: pointer;
                            box-shadow: 4px 4px 8px #7a797b65;
                            border: rgba(255, 255, 255, 0) 2px solid;

                            @media screen and (max-width: 600px) {
                                width: 100%;
                            }
                        }
                        input::placeholder{
                            color: $grey-color;
                        }

                        input:focus{
                            outline: none;
                        }

                        .valid{
                            border: #058E3F 2px solid;
                        }

                        .error{
                            border: #E60000 2px solid;
                        }
                    }

                    button{
                        padding: 15px 25px;
                        border-radius: 10px;
                        border: none;
                        background-color: #3B4FDF;
                        color: #F8F8F8;
                        font-weight: 500;
                        font-size: 1.2rem;
                        cursor: pointer;
                        margin-top: 40px;
                    }
                    button:hover{
                        background-color: rgb(26, 44, 174);
                    }
                }
            }
        }

        .popUpThanks{
            display: none;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;

            > div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                background-color: $light-color;
                width: 55%;
                border-radius: 12px;
                margin: auto;
                padding: 60px 0;
            }

            .contentPopUp{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                gap: 20px;

                .titlePopUp{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    gap: 18px;

                    img{
                        width: 40px;
                        height: 40px;
                    }

                    h2{
                        font-size: 2rem;
                        font-weight: 700;
                        color: black;
                    }
                }

                span{
                    color: $grey-color;
                    padding-bottom: 20px;
                }
            }

            button{
                padding: 15px 25px;
                border-radius: 10px;
                border: none;
                background-color: #3B4FDF;
                color: #F8F8F8;
                font-weight: 500;
                font-size: 1.2rem;
                cursor: pointer;
                margin-top: 20px;
            }
            button:hover{
                background-color: rgb(26, 44, 174);
            }
        }

        .active{
            display: flex;
        }
    }
}
