@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
//variables css
$light-color: #F8F8F8;
$dark-color: #151515;
$grey-color: #7A797B;
$CTA-color: #3B4FDF;



body {
    background-color: $light-color;
    position: relative;
    overflow-x: hidden;


    #modalNewsLetter {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 30px;
        right: 15px;
        width: 400px;
        background-color: $light-color;
        border-radius: 15px;
        padding: 10px 30px;
        box-shadow: 4px 4px 8px #7a797b65;
        transform: translateX(110%);
        transition: transform 0.5s ease-in-out;

        .imgWrapper {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin: 10px 0;
            img {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
        p {
            color: $grey-color;
            margin-bottom: 20px;
        }
        .formNewsLetter {
            padding-bottom: 10px;
            input {
                padding: 12px 20px;
                border-radius: 10px;
                background-color: #F8F8F8;
                font-weight: 500;
                cursor: pointer;
                border: rgb(219 215 215) 1px solid;    
            }
            
            input:focus{
                outline: none;
            }
            button {
                border-radius: 10px;
                border: none;
                background-color: #3B4FDF;
                color: #F8F8F8;
                font-weight: 500;
                cursor: pointer;
                padding: 10px 20px;
                height: 42px;
            }
            button:hover {
                background-color: rgb(26, 44, 174);
            }
        }
    }
    #modalNewsLetter.active {
        transform: translateX(0);
    }
    .reveal{
        opacity: 0;
        transform:translateY(-30px);
    }
    .reveal-visible{
        opacity: 1;
        transform:translateY(0);
        transition: .3s;
    }


    #menuBurger {
        display: none;
        @media screen and (max-width: 600px) {
            transform: translateX(100%);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            top: 0;
            right: 0;
            height: 100vh;
            width: 250px;
            padding: 20px;
            background-color: $dark-color;
            color: $light-color;
            transition: transform 0.5s ease-in-out;
        }
        div {
            margin-top: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            a {
                text-decoration: none;
                color: $light-color;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 20px 0;
            }
        }
    }
    #menuBurger.active {
        transform: translateX(0);
    }

    #flechehaut{
        width: 50px;
        height: 50px;
        background-color: $CTA-color;
        position: fixed;
        bottom: 20px;
        left: -110%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: left 0.5s ease-in-out;

        img{
            width: 35px;
            height: 35px;
        }
    }
    #flechehaut.activeAffiche{
        left: 25px;
    }

    #flechehaut:hover{
        transform: translateY(-15%);
    }
    header {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;

        .log {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 15px 25px;
                color: $dark-color;
                border-radius: 10px;
                transition: 0.3s;
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
            a:nth-child(2) {
                color: $light-color;
                background-color: $CTA-color;
                transition: 0.2s;
            }
            a:nth-child(1):hover {
                //à modifier l'effet est chelou
                background-color: $CTA-color;
                color: $light-color;
            }
            a:nth-child(2):hover {
                background-color: rgb(26, 44, 174);
            }

            a:nth-child(1):active {
                transform: scale(0.97);
            }

            a:nth-child(2):active {
                transform: scale(0.97);
            }
            img {
                display: none;
                @media screen and (max-width: 600px) {
                    display: block;
                }
            }
        }
    }
    main {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
        .hero {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            height: 80vh;

            @media screen and (max-width: 600px) {
                height: 50vh;
            }

            .heroLeft {
                width: 50%;
                @media screen and (max-width: 600px) {
                    width: 100%;

                }
                div:nth-child(1) {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 500;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                div:nth-child(2) {
                    max-width: 500px;
                    margin: 30px 0;
                    h1 {
                        font-size: 2.5rem;
                        font-weight: 800;
                        padding-bottom: 20px;
                    }
                    p {
                        color: $grey-color;
                        max-width: 300px;
                    }
                }
                a {
                    text-decoration: none;
                    padding: 15px 25px;
                    border-radius: 10px;
                    border: none;
                    background-color: $CTA-color;
                    color: $light-color;
                    font-weight: 500;
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: 0.2s;
                    margin-top: 40px;
                }
                a:hover {
                    background-color: rgb(26, 44, 174);
                }

                button:active {
                    transform: scale(0.97);
                }
            }
            .heroRight {
                width: 50%;
                @media screen and (max-width: 600px) {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 600px;
                    object-fit: cover;
                }
            }
        }

        .HIW {
            margin: 70px 0;
            .HIW-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                text-align: center;

                h2 {
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                p {
                    max-width: 500px;
                    color: $grey-color;
                }
            }
            .HIW-cardsWrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-evenly;
                margin-top: 50px;
                .HIW-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    width: 280px;
                    text-align: center;
                    padding: 20px;

                    p {
                        color: $grey-color;
                    }
                }
            }
        }

        #subscribeSection{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70vh;
            margin: 10vh 0;

            h2{
                font-size: 2rem;
                font-weight: 700;
                padding-bottom: 20px;
                color: black;
            }

            span{
                color: $grey-color;
                padding-bottom: 20px;
            }

            > div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #F8F8F8;
                width: 80%;

                @media screen and (max-width: 600px) {
                    width: 100%;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    width: 100%;

                    > div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 30px;

                        @media screen and (max-width: 600px) {
                            gap: 16px;
                        }

                        .formNoms, .formCoords, .formAdresse{
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            width: 80%;
                            gap: 4%;

                            @media screen and (max-width: 768px) {
                                flex-direction: column;
                                gap: 16px;
                            }
                        }

                        .formCoords{
                            input:nth-child(1){
                                width: 160%;

                                @media screen and (max-width: 768px) {
                                    width: 100%;
                                }
                            }
                        }

                        .formAdresse{
                            input:nth-child(1){
                                width: 25%;

                                @media screen and (max-width: 768px) {
                                    width: 100%;
                                }
                            }
                        }

                        input{
                            width: 80%;
                            padding: 12px 24px;
                            border-radius: 10px;
                            border: none;
                            background-color: #F8F8F8;
                            font-weight: 500;
                            font-size: 1.2rem;
                            cursor: pointer;
                            box-shadow: 4px 4px 8px #7a797b65;
                            border: rgba(255, 255, 255, 0) 2px solid;

                            @media screen and (max-width: 768px) {
                                width: 100%;
                            }
                        }
                        input::placeholder{
                            color: $grey-color;
                        }

                        input:focus{
                            outline: none;
                        }

                        .valid{
                            border: #058E3F 2px solid;
                        }

                        .error{
                            border: #E60000 2px solid;
                        }
                    }

                    button{
                        padding: 15px 25px;
                        border-radius: 10px;
                        border: none;
                        background-color: #3B4FDF;
                        color: #F8F8F8;
                        font-weight: 500;
                        font-size: 1.2rem;
                        cursor: pointer;
                        transition: 0.2s;
                        margin-top: 40px;
                    }
                    button:hover{
                        background-color: rgb(26, 44, 174);
                    }
                    button:active{
                        transform: scale(0.97);
                    }
                }
            }
        }

        .popUpThanks{
            display: none;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;

            > div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                background-color: $light-color;
                width: 55%;
                border-radius: 12px;
                margin: auto;
                padding: 60px 0;
            }

            .contentPopUp{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                gap: 20px;

                .titlePopUp{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    gap: 18px;

                    img{
                        width: 40px;
                        height: 40px;
                    }

                    h2{
                        font-size: 2rem;
                        font-weight: 700;
                        color: black;
                    }
                }

                span{
                    color: $grey-color;
                    padding-bottom: 20px;
                }
            }

            button{
                padding: 15px 25px;
                border-radius: 10px;
                border: none;
                background-color: #3B4FDF;
                color: #F8F8F8;
                font-weight: 500;
                font-size: 1.2rem;
                cursor: pointer;
                margin-top: 20px;
            }
            button:hover{
                background-color: rgb(26, 44, 174);
            }
        }

        .activePopUp{
            display: flex;
        }
    }
    footer{
        height: 40vh;
        background-color: $dark-color;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 80%;

        @media screen and (max-width: 767px) {
            height: 100vh;
        }

        #haut{
            width: 80%;
            height: 75%;
            display: flex;
            border-bottom: 2px solid $grey-color;
            margin-top: 15px;
            @media screen and (max-width: 767px) {
                flex-direction: column;
                height: 85%;
            }
            #gauche{
                height: 100%;
                width: 30%;

                @media screen and (max-width: 767px) {
                    height: 33%;
                    width: 100%;
                    border-bottom: 2px solid $grey-color;
                }
                #logofooter{
                    height: 40%;
                    width: 100%;
                    h2{
                        text-decoration: none;
                        font-size: 1.2rem;
                        font-weight: bold;
                        padding: 15px 25px;
                        color: $light-color;
                        border-radius: 10px;
                    }
                }
                #reseaux{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    gap: 30px;
                    div{
                        height: 45px;
                        width: 45px;
                        border-radius: 100%;
                        background-color: $grey-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.2s;

                        @media screen and (max-width: 1024px) {
                            width: 30px;
                            height: 30px;
                        }
                        img{
                            width: 30px;
                            height: 30px;

                            @media screen and (max-width: 1024px) {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    div:hover{
                        background-color: #5e5e5e;
                    }
                }
            }
            #milieu{
                height: 100%;
                width: 35%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                color: $light-color;

                @media screen and (max-width: 767px) {
                    height: 33%;
                    width: 100%;
                    border-bottom: 2px solid $grey-color;
                    gap: 20px;
                }
                h3{
                    margin-top: 15px;
                    font-weight: normal;
                }
            }
            #droite{
                height: 100%;
                width: 35%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                color: $light-color;

                @media screen and (max-width: 767px) {
                    height: 33%;
                    width: 100%;
                    gap: 20px;
                }
                h3{
                    margin-top: 15px;
                    font-weight: normal;
                }
                div{
                    display: flex;
                    width: 250px;
                    height: 40px;
                    margin-left: 15px;
                    background-color: $grey-color;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 10px;
                    input{
                        height: 30px;
                        background-color: $grey-color;
                        border: none;
                        margin-left: 15px;
                        color: $light-color;
                    }
                    input::placeholder{
                        color: $light-color;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                    }
                }
            }
        }
        #bas{
            height: 25%;
            width: 80%;
            display: flex;
            justify-content: end;
            color: $light-color;
            margin-top: 20px;

            @media screen and (max-width: 767px) {
                height: 15%;
            }
        }
    }
}
